* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    height: 100%;
}

body {
    min-height: 100svh;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
